.Navitem{
  margin-left: 1.5rem;
  font-size: 1.25rem;

  word-spacing: 0.5rem;
  letter-spacing: 0.125rem;
  line-height: 1.525rem;
}

.Link{
  text-decoration: none;
  color: var(--primary-color-text);
  transition: 0.25s linear;
}
.Link:hover{
  color: var(--secondary-color);
  text-decoration: none;
}