.ContactList{
  list-style-type: none;
}

.SocialMedia{
  width: 20%;
  justify-content: space-between;
}

.SocialLink{
  color: #000000;
}

@media screen and (max-width: 720px){
  .SocialMedia{
    width: 20%;
  }
}