.SocialMedia{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.SocialIcon{
  font-size: 1.25rem;
}

.SocialLink{
  transition: 0.3s linear;
}
.SocialLink:hover{
  color: var(--secondary-color);
}